{% extends 'base.html' %}
{% load static %}
{% block bodyblock %}
{% include 'navbar.html' %}
<br><br><br>
<div class="contain">
    <img src="{% static 'images/landi.jpg' %}" alt="image" class="homeimg">
    <div class="centered">
        
        <div class="typewriter">
            <p class="typewriter">One stop solution for making the loan approval process simpler!</p>
        </div>
    </div>

</div>

    <!-- <button class="redirect"><a href="{% url 'sheet-report' %}">Get Started</a></button> -->

    <div class="containerR">
        <div class="wrapperR">
          <form >
            <div class="row button">
            <a href="{% url 'register' %}">
              <input type="button" value="Sign up to continue">
              </a>
              
            </div>

          </form>
        </div>
      </div>

    {% endblock %}